 1Q. Create different variables to store your name, your age, and your parents name.
a. Print your name.
b. Create more variables needed for the Biodata.
c. Now print your whole biodata using above variables.

In [1]:
my_name="Prudhvi"
my_age=29
my_parents_name= "SatyaNaraya"
print(my_name)
print(my_name, my_age, my_parents_name)

Prudhvi
Prudhvi 29 SatyaNaraya

Q2. Create two variables. One to store your First name and another to store your surname. Now, Print your name so that the surname prints first.

In [3]:
Sur_name = "Peddi"
First_name = "Prudhvi"
print(Sur_name, First_name)

Peddi Prudhvi

Q3. Write rules on how to create a variable in a markdown cell using text formatting.

Rule Of variables:
1. A variable name must start with a letter or the underscore character.
ex: my_name
2. A variable name cannot start with a number.
ex: number1 is correct . 1one is incorrect formate
3. A variable  can contains alph-nueric characters.
ex: Test_variable2
4. variable is case sensitive
ex: a= 10 and A=20. Both a&A are two different variables

Q4. Create a variable called break and assign it a value 16. See what happens, and find out the reason behind the behavior that you see.

In [ ]:
break = 16

break is reserve word so we can't assign a value to reserve word

Q5.
    a. Assign the values 1, 2, and 3 to the variables x, y, and z, respectively, in a single line.
    b. Print the values of x, y, and z.

In [5]:
x,y,z=1,2,3
print(x,y,z)

1 2 3